<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
	<link rel="stylesheet" type="text/css" th:href="@{team8/team8_question3-1.css}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form method="post" th:action="@{/team8_3-1}" th:object="${empForm3_1}">
		
		<div class="card">
			
		<h2>あなたはどっちですか？</h2>
		<p class="mark">☆マークをタップしてください♪</p>
			<p class="radio"><input type="radio" id="q1" th:field="*{question3_1}" value="S1" />
				<label for="q1" class="star">★</label>
			おおらかな性格ですか？</p>
			<p class="radio"><input type="radio" id="q2" th:field="*{question3_1}" value="S2" />
				<label for="q2" class="star">★</label>
			繊細な性格ですか？</p>
		<div class="error" th:if="${#fields.hasErrors('question3_1')}" th:errors="*{question3_1}"></div>
			<br>
			<div class="flexbox">
			<input class="button" type="submit" name="back" value="戻る" />
			<input class="button" type="submit" name="next" value="次へ" />
			</div>
			
			</div>
	</form>
</body>
</html>