<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form method="post" th:action="@{/team8_2-2}">
		<h2>あなたはどっちですか？</h2>
			<p><input type="radio" name="question2" value="answer1" />
				恋人に甘えますか？</p>
			<p><input type="radio" name="question2" value="answer2" />
				恋人をエスコートしますか？</p>
			<br>
			<input type="submit" name="back" value="戻る" />
			<input type="submit" name="next" value="次へ" />
	</form>
</body>
</html>