<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form method="post" th:action="@{/team8_3-3}" th:object="${empForm}">
<!--	nameのところは質問画面によって変える-->
	<h2>あなたはどっちですか？</h2>
	<p><input type="radio" th:field="*{question1}" value="answer1" />
		感情を重視しますか？</p>
	<p><input type="radio" th:field="*{question1}" value="answer2" />
		効率を重視しますか？</p>
	<br>
	<input type="submit" name="back" value="戻る" />
	<input type="submit" name="next" value="次へ" />
</form>
</body>
</html>