<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form method="post" th:action="@{/team8_3-2}" th:object="${empForm}">
		<h2>あなたはどっちですか？</h2>
			<p><input type="radio" th:field="*{question3_2}" value="answer1" />
			インドア派ですか？</p>
			<p><input type="radio" th:field="*{question3_2}" value="answer2" />
			アウトドア派ですか？</p>
			<th:block th:if="${#fields.hasErrors('question3_2')}" th:errors="*{question3_2}"></th:block>
			<br>
			<input type="submit" name="back" value="戻る" />
			<input type="submit" name="next" value="次へ" />
	</form>
</body>
</html>