<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<link rel="stylesheet" type="text/css" th:href="@{team8/team8_question1.css}">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
<title>Insert title here</title>
</head>
<body>
<form method="post" th:action="@{/team8_1}" th:object="${empForm}">
	
	<div class="card">
	
	<h2>あなたはどっちですか？</h2>
	<p class="radio"><input type="radio" id="q1" th:field="*{question1}" value="answer1" />
		<label for="q1" class="star">★</label>
	動画を2倍速で見ますか？</p>
	<p class="radio"><input type="radio"  id="q2" th:field="*{question1}" value="answer2" />
		<label for="q2" class="star">★</label>
	1倍速で見ますか？</p>
	<div class="error" th:if="${#fields.hasErrors('question1')}" th:errors="*{question1}"></div>
	
	<br>
	<div class="flexbox">
	<input class="button"  type="submit" name="back" value="戻る" />
	<input class="button"  type="submit" name="next" value="次へ" />
	</div>
	
	</div>
	
</form>

</body>
</html>