<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
	<link rel="stylesheet" type="text/css" th:href="@{team8/team8_kekka.css}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="card">
		
	<form method="post" th:action="@{/team8_kekka}" th:object="${empFormN}">
		<th:block th:each="data : ${data}">
			<h2>診断結果</h2>
			<p class="kekka" th:text="${empFormN.name} + は・・・"></p>
			<p class="snack" th:text="${data.snackNm}"></p>
			 <div class="image_position">
			<img class="image" th:src="@{${data.imagepath}}">
			 </div>
			<p class="kekka">がおすすめ！</p>
			<br>
			
			<p class="ranking"  th:text="みんなの診断結果"></p>

<!--			<table th:each="rank,i : ${ranking}">-->
			<table class="table">
				<tr th:each="rank,i : ${ranking}">
					<td class="rank1" th:text="${i.count} + 位">aaaa</td>
					<td class="rank2" th:text="${rank[0]}"></td>
				</tr>				
			</table>


			<br>
			<br>
			<div class="flexbox">
			<input class="button" type="submit" name="restart" value="もう一度やる？" />
			</div>
		</th:block>
	</form>
	
	</div>
</body>
</html>