<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<link rel="stylesheet" type="text/css" th:href="@{team8/team8_start.css}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form method="post" th:action="@{/team8_start}" th:object="${empFormN}">
	<h1>★お菓子診断★</h1>
	<br>
	<h2>あなたに合うお菓子を提案します♪</h2>
	<br>
	<input class="start" type="submit" name="next" value="スタート！" />
	<br>
	<input type="text" th:field="*{name}" />
	<th:block th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></th:block>
</form>
</body>
</html>