@charset "UTF-8";

body{background-color: beige;}


body{background-image: url("壁紙.png")}



h1{color: #FF69A3;
      text-align: center;
	  font-size: 80px;
      }
h2{color: rgb(255, 0, 128);
	        text-align: center;
	  	  font-size: 40px;
	        }
h1{text-shadow: 5px 5px 2px #222222;
   	}

  
 
input.start{
    position: relative;
    display: block;
	margin: 0 auto;
	font-size: 20px;
    justify-content: space-around;
    align-items: center;
    max-width: 240px;
     padding: 8px 15px;
    color: rgb(128, 64, 0);
	background: #FFFF99;
    font-weight: 600px;
    border-radius: 30px;
    box-shadow: 0px 5px 5px rgb(255, 255, 0);
            
	
            }

input.start:hover{
    border-bottom: solid 2px #663300;
    transform: scale(1.1)
            }
			
			
/*Validationの色*/						
.error{
	color: red;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
	font-size: 30px;
			}
			
input.name{
	width: 140px;
	height: 40px;
	font-size: 30px;
}

.namebox{
	text-align: center;
}

p.name{
	text-align: center;
	font-size: 23px;
	color: #FF3300;
	font-weight: bold;
	
}

