@charset "UTF-8";

body{background-color: beige;}

h2{color: #FF69A3;
      text-align: center;
	  -webkit-text-stroke: 1px white;
      }
p.radio{color: rgb(128, 64, 0);
	text-align: center;
	}

	

input.start{
    position: relative;
    display: flex;
	
	width: 120px;
	height: 110px;
	font-size: 18px;
    justify-content: space-around;
    align-items: center;
    max-width: 240px;
     padding: 8px 15px;
    color: rgb(128, 64, 0);
	background: #FFFF99;
    font-weight: 300;
    border-radius: 30px;
    box-shadow: 0px 5px 5px rgb(255, 255, 0);
            
	
            }

input.start:hover{
    border-bottom: solid 2px #663300;
    transform: scale(1.1)
            }
