@charset "UTF-8";

/*body{font-family: "Hannari";}*/

body{background-color: beige;}

body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: bold;
}

body{background-image: url("壁紙.png")}

body{
	  display: flex;
	  justify-content: center;
	  align-items: center; 
}
	  
/*カード風*/
.card{
	background-image: url("new壁紙.png");
	padding: 30px;
	border-radius: 20px;
	width: 700px;
	margin-top: 50px;
}

/*ラジオボタンを星に*/
.radio input[type="radio"]:checked + .star {
  color: gold;
}

.radio input[type="radio"] {
  display: none;
}

/*☆マークタップして*/
p.mark{
	color:rgb(255, 105, 68);
	font-size: 20px; 
	text-align: center;
	font-weight: bold;
}

/*質問の色など*/
p.radio{color: rgb(128, 64, 0);
	text-align: center;
	font-size: 30px;
	font-weight: 600px;
	}

/*あなたはどっちですか？*/
h2{color: rgb(255, 89, 152);
      text-align: center;
	  font-size: 45px;
	  text-shadow: 3px 1px 1px  rgb(192, 192, 192);
      }
	 
	/*ボタン同士の距離など*/							
	.flexbox{
		display: flex;
		justify-content: center;
		gap: 25px;	
	}
	
	input.button{

		position: relative;
			display: block;
			font-size: 20px;
			justify-content: space-around;
			align-items: center;
			max-width: 200px;
			width: 160px;
			padding: 8px 15px;
			color: rgb(128, 64, 0);
			background: #FFFF99;
			font-weight: 600px;
			border-radius: 50px;
			border: none;
			box-shadow: 0px 5px 5px rgb(252, 209, 82);
			font-family: 'M PLUS Rounded 1c', sans-serif;
	}
			
	
	input.button:hover{
	    border-bottom: solid 2px #663300;
	    transform: scale(1.1)
	            }
					
				/*Validationの色*/	
				.error{
					color: rgb(255, 85, 85);
					font-weight: bold;
					text-align: center;
					margin-top: 10px;
					font-size: 30px;
				}				



