@charset "UTF-8";

/*body{font-family: "Hannari";}*/

body{background-color: beige;}

body{background-image: url("壁紙.png")}

body{
	  display: flex;
	  justify-content: center;
	  align-items: center; 
}
	  
p.ranking{
	color: #FF69A3;
	text-align: center;
		font-size: 34px;
		font-weight: 700px;
		text-shadow: 3px 1px 1px  #222222;
}

td.rank1{
	text-align: left;
	color: #663300;
	font-weight: bold;
}

td.rank2{
	text-align: center;
	padding: 10px;
		color: #DDFFFF;
		font-weight: bold;
		font-size: 30px;
		display: flex;
		justify-content: center;
		text-shadow: 1px 1px 0px #000066,-1px -1px 0px #000066,
					 -1px 1px 0px #000066,1px -1px 0px #000066,
					 1px 0px 0px #000066, -1px 0px 0px #000066,
					 0px 1px 0px #000066, 0px -1px 0px #000066;
					 margin: 0; 
}


table.table{
/*	display: flex;*/
/*	justify-content: center;*/
/*	align-items: center;*/
	margin: 0 auto;
	border-collapse: collapse;
}

/*カード風*/
.card{
	background-image: url("new壁紙.png");
	padding: 30px;
	border-radius: 20px;
	width: 800px;
	margin-top: 50px;
}

/*お菓子の名前*/
p.snack{
	padding: 10px;
	color: #DDFFFF;
	font-weight: bold;
	font-size: 80px;
	display: flex;
	justify-content: center;
	text-shadow: 2px 2px 0px #000066,-2px -2px 0px #000066,
				 -2px 2px 0px #000066,2px -2px 0px #000066,
				 2px 0px 0px #000066, -2px 0px 0px #000066,
				 0px 2px 0px #000066, 0px -2px 0px #000066;
				 margin: 0;
}


/*あなたは…がおすすめ！*/
p.kekka{color: rgb(128, 64, 0);
	text-align: center;
	font-size: 30px;
	font-weight: 600px;
	}

/*診断結果*/
h2{color: #FF69A3;
      text-align: center;
	  font-size: 45px;
	  text-shadow: 3px 1px 1px  #222222;
      }
	 
	/*ボタン同士の距離など*/							
	.flexbox{
		display: flex;
		justify-content: center;
		gap: 25px;	
	}
	
	
	img.image{
		width: 500px;
		height: auto;
		
	}
	
	.image_position{
		display: flex;
		justify-content: center;
	}
	
	input.button{

		  position: relative;
		     display: block;
		  font-size: 20px;
		     justify-content: space-around;
		     align-items: center;
		     max-width: 240px;
		      padding: 8px 15px;
		     color: rgb(128, 64, 0);
		     background: #FFFF99;
		     font-weight: 600px;
		     border-radius: 30px;
		     box-shadow: 0px 5px 5px rgb(255, 255, 0);

	}
	
	
	
	
	
	.flexbox{
		display: flex;
		justify-content: center;
		
	}
			
	
	input.button:hover{
	    border-bottom: solid 2px #663300;
	    transform: scale(1.1)
	            }
						
/*Validationの色*/						
.error{
		color: red;
		font-weight: bold;
		text-align: center;
		margin-top: 10px;
		font-size: 30px;
				}


