@charset "UTF-8";

/*body{font-family: "Hannari";}*/

body{background-color: beige;}

body{background-image: url("壁紙.png")}

body{
	  display: flex;
	  justify-content: center;
	  align-items: center; 
}
	  
/*カード風*/
.card{
	background-image: url("new壁紙.png");
	padding: 30px;
	border-radius: 20px;
	width: 700px;
	margin-top: 50px;
}

/*ラジオボタンを星に*/
.radio input[type="radio"]:checked + .star {
  color: gold;
}

.radio input[type="radio"] {
  display: none;
}

/*質問の色など*/
p.radio{color: rgb(128, 64, 0);
	text-align: center;
	font-size: 30px;
	font-weight: 600px;
	}

/*あなたはどっちですか？*/
h2{color: #FF69A3;
      text-align: center;
	  font-size: 45px;
	  text-shadow: 3px 1px 1px  #222222;
      }
	 
	/*ボタン同士の距離など*/							
	.flexbox{
		display: flex;
		justify-content: center;
		gap: 25px;	
	}
	
	input.button{

		  position: relative;
		     display: block;
		  font-size: 20px;
		     justify-content: space-around;
		     align-items: center;
		     max-width: 240px;
		      padding: 8px 15px;
		     color: rgb(128, 64, 0);
		  background: #FFFF99;
		     font-weight: 600px;
		     border-radius: 30px;
		     box-shadow: 0px 5px 5px rgb(255, 255, 0);
	}
			
	
	input.button:hover{
	    border-bottom: solid 2px #663300;
	    transform: scale(1.1)
	            }
					
				/*Validationの色*/	
				.error{
					color: red;
					font-weight: bold;
					text-align: center;
					margin-top: 10px;
					font-size: 30px;
				}				



